@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@
<section class="jumbotron text-center">
    <div class="container">
        <h1>About</h1>
        <p class="lead text-muted text-center">HearthsPub was originally created as a way to find cards as easy as possible, and enable to share your own build. thus, compile the best decks from palyers and even profissional players</p>
        <br />
        <p class="lead text-muted text-center">The team of design and compile the website has one person, it's me yeah :/ ...... However, I will soon made it to a huge commuity of HearthStone lovers. Have fun in HearthPub :)</p>
    </div>
</section>